@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl md:text-4xl font-semibold text-gray-800;
  }

  h2 {
    @apply text-2xl md:text-3xl font-semibold text-gray-800;
  }

  p {
    @apply text-base text-gray-600 leading-relaxed;
  }

  a {
    @apply text-gray-700 transition-colors;
  }

  a:hover {
    @apply text-primary-600;
  }
}
